.section__products {
	margin-block-start: 50px;
	text-align: center;
	div {
		margin-block-start: 20px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: 20px;
		row-gap: 40px;
		article {
			max-width: 350px;
			h3 {
				font-size: 1.2rem;
				font-weight: 100;
				padding-block: 10px;
			}
			p {
				font-weight: 600;
				padding-block: 0 10px;
			}
			button {
				padding: 10px 30px;
				border-radius: 20px;
				min-width: 180px;
				background-color: #f27287;
				color: rgb(0, 0, 0);
				border: none;
                font-weight: bold;
				cursor: pointer;
				transition: all 0.3s;
				position: relative;
				overflow: hidden;
				z-index: 1;
				&:after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: -2;
				}
				&:before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0%;
					height: 100%;
					background-color: #3b1d22;
					transition: all 0.3s;
					z-index: -1;
				}
                &:hover {
                    color: #fff;
                    &:before {
                        width: 100%;
                    }
                }
			}
		}
	}
}
